<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <link rel="stylesheet" href="css/style.css">
    <title>Boolfix - 6 Aprile</title>
</head>
<body>
    <div id="root">
        <header>
            <div id="logo">
                <img src="img/Net-logo-large-red.png" alt="Logo Netflix">
            </div>
            <div class="search_cont">
                <input id="src-bar" type="search" v-model="query" @keyup.enter="printMovies">
                <div id="src-btn"><i class="fas fa-search" @click="printMovies"></i></div>
            </div>
        </header>
        <main>
            <div class="container">
                <div id="movies">
                    <div class="movie" v-for="movie in movies">
                        <h2>{{movie.title}}</h2>
                        <p class="original_title">{{movie.original_title}}</p>
                        <p class="original_language">{{movie.original_language}}</p>
                        <p class="rating">{{movie.vote_average}}</p>
                </div>
            </div>
        </main>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> 
    <script src="js/main.js"></script>
</body>
</html>
